@tailwind base;
@tailwind components;
@tailwind utilities;

.app-dark {
  /* background-image: url("/images/bg-wallpapers/dark1.jpeg"); */
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  background-size: cover;
  width: 100%;
}

.app-light {
  /* background-image: url("/images/bg-wallpapers/light.jpg"); */
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #335c81 0%, #ffffff 74%);
  background-size: cover;
  width: 100%;
}
